*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
}
.user{
    border: 1px solid black;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user img{
    width: 20%;
    border-radius: 50%;
    padding: 20px;
}
.user h5{
    font-size: 16px;
    font-weight: bold;

}
.user p{
    font-size: 10px;
}
.status{
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 77px;
}
button {
    background-color: #A491D2;   
    border: #FFF;               
    border: 50px solid;
    color: #FFF;
    height: 120px;
    font-weight: bold;
    padding: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacts {
    flex: 0 0 3rem;
    background-color: #FFF;
    width: 100%;
}

.card{
    border-radius: 50%;
}